<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404Error.html</title>
</head>
<body>
    
<h1>404Error | Express Server</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit iure, ipsum ducimus harum minima unde laboriosam eveniet repellat eius animi quas cum sequi officia sint aliquam et architecto adipisci temporibus.</p>

</body>
</html>